@model IEnumerable<MTX_News.Models.Produkt>
@{ int licznik = 0; }

<tr>
    @using (Html.BeginForm("Index", "Komentarz", FormMethod.Get))
    {
    <td class="nazwa-strony">
        @Html.Label("Kod: ")
        @Html.TextBox("kod")

        @Html.Label("Nazwa: ")
        @Html.TextBox("nazwa")

        @Html.Label("Producent: ")
        @Html.TextBox("producent")
        
        <label>@Html.CheckBox("zkomentarzem") Pokaż produkty z komentarzem.</label>
        <input type="image" src="~/Content/img/Search_20x20.png" />
    </td>
    }
</tr>

<tr>
    <td class="content">
        <table class="lista" width="1200">
            <thead >
                <tr>
                    <th>Kod</th>
                    <th>Nazwa</th>
                    <th>Producent</th>
                    <th width="250">Komentarz</th>
                    <th>Ważność informacji</th>
                    <th >Kto wprowadził</th>
                    <th width="100">Edycja</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var produkt in Model)
                {
                    licznik = licznik + 1;
                    <tr class="wiersz" id="@produkt.ProduktId" @if (licznik % 2 != 0) { <text> style="background-color:  rgb(253, 238, 244); font-weight:normal;" </text> }>
                        @Html.Action("FormularzKomentarza", "Komentarz", new { produkt = produkt})
                    </tr>
                }
            </tbody>
        </table>
    </td>
</tr>

@section Scripts
{
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryAndJqueryUI")
    @*<link rel="stylesheet" type="text/css" href="~/Content/themes/base/jquery-ui.css">*@
    <script src="~/Scripts/skryptyFormularzaKomentarza.js"></script>               
}



