@model MTX_News.ViewModels.ForumlarzKomentarzaViewModel

<tbody>

    @foreach (var towar in Model.ListaProduktow)
    {
        <tr class="wiersz" @if (towar.ProduktId % 2 != 0) { <text> style="background-color:  rgb(253, 238, 244); font-weight:normal;" </text> }>
            <td>
                <span>
                    @towar.Kod
                </span>
            </td>
            <td>
                <span>
                    @towar.Kod
                </span>                
            </td>
            <td>
                <span>
                    @towar.Nazwa
                </span>
            </td>
            <td>
                <span>
                    @towar.Komentarz
                </span>
            </td>

            <td>
                <span>
                    @towar.PozostalaLiczbaDniDoKoncaWaznosci dni
                </span>                
            </td>

            <td>
                <span>
                    @towar.KtoWprowadzil
                </span>
            </td>
            <td class="menuEdycji">
                <input type="image" src="~/Content/img/delete_15x15.png" />
                <input class="edytuj" data-id="@towar.ProduktId" type="image" src="~/Content/img/edit_15x15.png" />
                @*<a class="zapisz" href="@Url.Action("ZapiszKomentarz","Home", new { komentarz = Model.Komentarz })">
                    <img src="~/Content/img/save_15x15.png" />
                </a>*@
            </td>
        </tr>
        <tr id="formularzKomentarza-@towar.ProduktId" class="formularzKomentarza"
            @if (towar.ProduktId % 2 != 0) { <text> style="background-color:  rgb(253, 238, 244); font-weight:normal;" </text> }>
            <td></td>
            <td></td>
            <td></td>
            <td id="poleKomentarza">@Html.TextBoxFor(o => o.Komentarz)</td>
            <td id="poleIlosciDni">@Html.TextBoxFor(o => o.PozostalaLiczbaDniDoKoncaWaznosci)</td>
            <td id="ktoWprowadzil">@Html.TextBoxFor(o => o.KtoWprowadzil)</td>
            <td></td>
        </tr>
    }
</tbody>

