@model MTX_News.ViewModels.FiltrViewModel

<div class="tabelka" style='width: 1024px; margin: auto;'>
    <table>
        <tr>
            <td class="naglowek">
                <img src="~/Content/img/logo.jpg" />
            </td>
        </tr>
        <tr>
            <td class="nazwa-strony">
                @using (Html.BeginForm("Szukaj", "Home"))
                {
                    <table>
                        <tr>
                            <td>
                                @Html.LabelFor(o => o.Kod, "Kod: ")
                                @Html.TextBoxFor(o => o.Kod)
                            </td>
                            <td>
                                @Html.LabelFor(o => o.Nazwa, "Nazwa: ")
                                @Html.TextBoxFor(o => o.Nazwa)
                            </td>
                            <td>
                                <label class="checkBoxy">@Html.CheckBoxFor(o => o.ZawieraKomentarz) Pokaż produkty bez komentarza.</label>
                            </td>
                            <td>
                                @*<a class="searchIcon" href="@Url.Action("Szukaj", "Home", new { vm = Model })">
                                    <img src="~/Content/img/Search_20x20.png">
                                </a>*@

                                <input class="searchIcon" type="image" src="~/Content/img/Search_20x20.png">
                            </td>
                        </tr>
                    </table>
                }
            </td>
        </tr>
        <tr>
            <td class="content">
                <table class="lista"  width="1024">
                    <thead>
                        <tr>
                            <th>Lp.</th>
                            <th>Kod</th>
                            <th>Nazwa</th>
                            <th>Komentarz</th>
                            <th>Ważność informacji</th>
                            <th>Kto wprowadził</th>
                            <th>Edycja</th>
                        </tr>
                    </thead>
                    @Html.Action("ProduktyZKomentarzami")
                </table>
            </td>
        </tr>
        <tr>
            <td class="stopka">
                <img src="~/Content/img/dol.jpg" />
            </td>
        </tr>
    </table>
</div>

@section Scripts
{
    @System.Web.Optimization.Scripts.Render("~/bundles/jqueryAndJqueryUI")
    <script>
        $(function () {
            $(".edytuj").click(function () {
                var wierszId = $(this).attr("data-id");
                if ($("#formularzKomentarza-" + wierszId).is(":hidden")) {

                    $(".formularzKomentarza").slideUp("fast", function () {
                        
                    });  

                    $("#formularzKomentarza-" + wierszId).slideDown(1000);
                } else {
                    $("#formularzKomentarza-" + wierszId).slideUp("fast", function () {

                    });                    
                }                
            });
        });
    </script>
}

